/* =============================
============BODY TAGS===========
============================= */

html, body{
  margin:0;
  padding:0;
  color: #777777;
  width: 100%;
  height:100%;
  font-family: Open Sans,sans-serif;
  background-color: #FFFFFF;
}

table{
  width:80%;
}
table, th, td{
  border: 1px solid white;
  margin-left:auto;
  margin-right:auto;


}
th{
  font: 14px Open Sans, sans-serif;
  padding: 5px 0px 5px 5px;
  margin: -30px -30px 10px -30px;
  color: #FFFFFF;
  background: #00DDD8;
  border-bottom:1px solid #02F5EF;
}

td{
  background-color: #EEEEEE;
  color: #353634;
}

img.centered {
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

img.contentImg {
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
}

img.aboutPhoto{
  display: block;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: left;
  width: 300px;
}

p {
  padding: 0px;

}

b, strong{
  font-weight: bold;
  color: #324177;
  font-family: Raleway ,sans-serif;
}

/* =============================
============CLASSES=============
===============================*/

.content{
  width: 660px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  color: #555555;
  font-family: Raleway ,sans-serif;
  -moz-text-align-last: center;
  text-align-last: center;
  text-align: center;
}

.content h3 {
  text-align: center;
  font-size: 36px;
  font-family: Raleway ,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px 0px;
  color: #ff4d79;
}
.content h4 {
  text-align: center;
  font-size: 16px;
  font-family: Raleway ,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #324177;
}


.content-grey{
  background-color: #FFFFFF;
  width: 100%
}
@media screen and (max-width: 660px) {
  width: 100%;
}

/* =============================
=============ICONS==============
===============================*/

.glyphicon-chevron-down {
  width: 100px;
  height: 100px;
  font-size: 70px;
  margin: 15px 0px 0px 0px;
  background: 0 0;
}

.glyphicon-pencil {
  font-size: 80px;
  background: 0 0;
  margin-top: 30px 0px 30px 0px;
}

/* =============================
============BUTTONS=============
===============================*/

.btn, .btn:link, .btn:visited {
  color: #FFFFFF;
  background-color: #FF606E;
  border: 1px solid #FFC9CE;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 15px 5px 15px;
  margin: 0 auto;
}

.btn:hover{
  color: #FF606E;
  background-color: #FFE3E5;
  border: 1px solid #FAB1B8;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

/* =============================
==========BODY COMPONENTS=======
============================= */
/* Navigation */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Navigation Bar After Scroll*/

nav.custom {
  font-family: Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin:0px;
  background-color: #4079BC;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
nav.custom ul {
  list-style-type: none;
  overflow: hidden;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

nav.custom li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  height: 100%;
}


nav.custom a {
  font-weight: bold;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  color:#FFFFFF;

}

nav.custom li a:hover,
nav.custom li a:focus,
nav.custom li a:active,
nav.custom-transparent li a:hover,
nav.custom-transparent li a:focus,
nav.custom-transparent li a:active
{
  color: #ff4d79;
  background-color: rgba(255,255,255,0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

/* Navigation At The Top*/
nav.custom-transparent {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  height: 20px;
  text-align: center;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
nav.custom-transparent ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
nav.custom-transparent li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

nav.custom-transparent a {
  font-weight: bold;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  color:#FFFFFF;
}

/* Hero */
#hero{

  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  background: url(../images/hero.jpg) #84807f no-repeat scroll;;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: table;
}

#hero h1 {
  color: #ff4d79;
  text-align: center;
  font-size: 70px;
  font-family: Raleway ,sans-serif;
  font-weight: 600;
  padding: 0 ;
  margin-bottom: -10px;
  letter-spacing: 0px;

}

#hero h2{
  padding: 0px 0px 40px 0px;
  margin: 0px;
  color: #324177;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: Raleway,sans-serif;

}

#hero a:link, a:visited{
  color: #ffffff;
}

#hero a:hover{
  color: #4079BC;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.hero-text {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

/* Blinking Cursor
http://codepen.io/ArtemGordinsky/pen/GnLBq
*/
.blinking-cursor {
  font-weight: 600;
  font-size: 70px;
  color: #FFFFFF;
  padding: 0 ;
  margin-bottom: -10px;
  letter-spacing: 0px;

  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}

/* ================ The Timeline ================ */
/* Edited timeline code from http://nilswe.com/lab/css-timeline/ */

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #84807f;

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -37px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #ff4d79;
  z-index: 10;
}

.direction-r .flag:before {
  left: -37px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color:#ff4d79;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  line-height: 1.5em;
}

.desc .sub {
  font-style: italic;
}
.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: #f5f5f5;
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid#ff4d79;
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: #f5f5f5;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
  text-align: justify;
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}

/* Skills Progress
  Edited from http://codepen.io/stoypenny/pen/fgCau
*/
.skillsContainer {
max-width:660px;
min-width:150px;
margin: 0 auto;
padding: 0 20px;
}

/*///////////////////////////////////////////////////
    // Skill Bars \\
///////////////////////////////////////////////////*/
.skillBar {
  margin-bottom:26px;
  margin-bottom: 1.66em;
  h4 {
    font-size:21px;
    font-size: 1.33em;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom:7px;
    margin-bottom: .33em;
  }
}
.skillBarContainer {
  width: 100%;
  max-width: 660px;
  height:26px;
  height: 1.66em;
  background: #4079BC;
  background: rgb(64,121,188);
  background: rgba(64,121,188,.2);
  overflow: hidden;
  border-radius:5px;
}
.skillBarValue {
  height: 1.66em;
  float: left;
  background: #4079BC;
  background: rgb(64,121,188);
  background: rgba(64,121,188,.75);
}

/* Allowed values for the css skill bars */
.value-00  { width: 0;    }
.value-10  { width: 10%;  }
.value-20  { width: 20%;  }
.value-30  { width: 30%;  }
.value-40  { width: 40%;  }
.value-50  { width: 50%;  }
.value-60  { width: 60%;  }
.value-70  { width: 70%;  }
.value-80  { width: 80%;  }
.value-90  { width: 90%;  }
.value-100 { width: 100%; }

/*///////////////////////////////////////////////////
    // Animation \\
///////////////////////////////////////////////////*/
@-webkit-keyframes slideIn {
  0% { width: 0; }
  25% { width:100%; }
  100% { width: normal; }
}
@-moz-keyframes slideIn {
  0% { width: 0; }
  25% { width:100%; }
  100% { width: normal; }
}
@-ms-keyframes slideIn {
  0% { width: 0; }
  25% { width:100%; }
  100% { width: normal; }
}
@-o-keyframes slideIn {
  0% { width: 0; }
  25% { width:100%; }
  100% { width: normal; }
}
@keyframes slideIn {
  0% { width: 0; }
  25% { width:100%; }
  100% { width: normal; }
}
.skillBarValue {
  -webkit-animation: slideIn 2s;
  -moz-animation: slideIn 2s;
  -o-animation: slideIn 2s;
  animation: slideIn 2s;
}
}
